<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %> 
  <main class="bg-slate-950 px-4 py-14 min-h-screen flex flex-col gap-10 items-center">
    <div class="max-w-4xl mx-auto flex flex-col gap-4">
      <h1 class="text-5xl font-bold text-slate-50 text-center"><%= title %></h1> 
      <p class="text-lg text-slate-100 max-w-lg">We&apos;re glad to have you here in our growing community! Take a look around, now you have full admin rights!</p>
    </div>
    <a class="px-6 py-2 bg-slate-100 text-slate-900 text-lg font-medium rounded-lg" href="/">See All Posts</a>
  </main>
</body>
</html>